---
layout: page
title: Notes
permalink: /notes/
---

{% assign notes = site.notes | group_by: 'category' %}
<div id="categories">
    <ul class="list-inline">
        {% for cat in notes %}
        <li>
            <a href="#{{ cat.name | cgi_escape }}">{{cat.name | upcase}}<span>({{cat.size}})</span></a> {% unless forloop.rindex == cat.size %},{% endunless%}
        </li>
        {% endfor %}
    </ul>

    {% for cat in notes %}
    <div>
        <h3 id="{{cat.name}}">{{ cat.name | upcase }}</h3>
        <hr>
        <ul class="posts list-unstyled">
            {% assign items = cat.items%}
            {% for item in items %}
                <li itemscope>
                    <h4>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </h4>
                    <span class="post-meta">{{ item.date | date: "%B %-d, %Y"  }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>